@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');


$box-sizing: border-box;
$zero: 0;
$max-width: 100vw;
$overflow-x: hidden;
$container-width: 151px;
$container-height: 151px;
$container-scale: 35%;
$sprite-width: 18240px;
$sprite-height: 151px;
$sprite-url: '/cars.png';
$sprite-animation-time: 9s;
$sprite-animation-steps: 60;
$sprite-z-index: 999;

* {
  box-sizing: $box-sizing;
  padding: $zero;
  margin: $zero;
}

html, body {
  font-family: 'Skranji', cursive;
  max-width: $max-width;
  overflow-x: $overflow-x;
}

